body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
}
footer {
    margin-top: auto;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline;
}
.main_nav {
    display: flex;
    justify-content: flex-end;
    direction: ltr;
    
}
.logo {
    margin: 20px;
}
.round {
    width: auto;
    max-width: 584px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
 }
input[type=text] {
    width: 527px;
    height: 34px;
    margin: auto;
    border: none;
    background: #fff;
}

.main-content {
    text-align: center;
}
.countery-bg {
    opacity: 0.5;
    background-color: #ececec;
    padding: 1px;
}
.footer-left {
    float: left;
}
.footer-right {
    float: right;
}

